body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../uploads/Background.png");
  background-size: cover;
  font-family: Arial, sans-serif;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
}

.page-title {
  text-align: center;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  box-sizing: border-box;
 /* Ensures padding is included in the width */
}

.page-title h1 {
  color: #fff;
  font-size: 80px;
  margin: 0;
}

.login-container,.signup-container {
  background-color: transparent;
  color: whitesmoke;
  padding: 50px;
  padding-top: 0%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 8px solid #ddd;
  width: 80%;
  max-width: 700px;
  font-size: 30px;
}

.login-container h2,.signup-container h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  padding: 50px;
  color: whitesmoke;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="reset"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 20px;
  width: 50%;
  margin: 10px 0;
  border: 1px solid #ccc;
}

button[type="reset"] {
  background-color: rgb(138, 24, 24);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 20px;
  width: 50%;
  margin: 10px 0;
  border: 1px solid #ccc;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="reset"]:hover {
  background-color: rgb(109, 15, 15);
}
.signup-link ,.login-link {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: whitesmoke;
}


.signup-link a,.login-link a {
  text-decoration: none;
  color: whitesmoke;
}

.message {
  text-align: center;
  color: red;
}

.signup-container select {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  width: 97%;
  box-sizing: border-box;
}

.signup-container select:hover {
  border-color: #555;
}

.signup-container select:focus {
  outline: none;
  border-color: #540f65;
  box-shadow: 0 0 5px rgba(84, 15, 101, 0.5);
}


.top-posts {
  width: calc(100% - 240px);
  margin-left: 240px;
  height: 100vh;
  background: #dae0e6;
}

.top-posts > header {
  padding: 20px 0 20px 20px;
}

.top-posts .posts-wrap {
  height: calc(100% - 82px);
  overflow: auto;
  padding: 0 20px;
}

.top-posts .posts-wrap .post-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  transition: all 0.3s;
  width: 80%;
  margin: 10px auto;
  background: #fff;
  position: relative;
}

.top-posts .posts-wrap .post-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #ccc;
}

.top-posts .posts-wrap .post-item .title {
  font-style: italic;
}

.top-posts .posts-wrap .post-item .content {
  text-indent: 2ch;
}

.top-posts .posts-wrap .post-item .extra-area .img-list {
  display: flex;
  flex-wrap: wrap;
}

.top-posts .posts-wrap .post-item .extra-area .img-list .img-item {
  width: 300px;
}

.top-posts .posts-wrap .post-item .like-num {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-posts .posts-wrap .post-item .icon_like_num {
  width: 70px;
  height: 70px;
}

.top-posts .posts-wrap .post-item .like-num .num {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
}

.top-posts .posts-wrap .post-item .rank {
  position: absolute;
  left: -60px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.top-posts .posts-wrap .post-item .rank .icon_rank {
  height: 50px;
  width: 50px;
}
