<!DOCTYPE html>
<html>
<head>
    <title>ART Community</title>
    <link rel="stylesheet" type="text/css" href="/static/profilepage.css">
</head>
<body>
    
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="#">My Profile</a>
        <a href="#">Scavenger Hunt</a>
        <div class="dropdown">
            <a href="#">All Communities</a>
            <div class="dropdown-content">
                <a href="{{ url_for('community.arts') }}">Arts</a>
                <a href="{{ url_for('community.music') }}">Music</a>
                <a href="{{ url_for('community.dance') }}">Dance</a>
                <a href="{{ url_for('community.sports') }}">Sports</a>
            </div>
        </div>
    </div>

    <!-- Profile page content -->
    <div class="profile">
        <h1>Welcome to your Virtual Community {{username}}</h1>

    
        <a href="{{ url_for('user.logout') }}">Exit</a>
        <br/>

        <div class="profile-icon">
            <img src="https://assets.online.berklee.edu/catalog-site-heroes/careers-illustration-v2.png" alt="Profile Icon" width="900" height="300"/>
        </div>
        <div class="content-block">
            <h1>Welcome to the ARTS Community</h1>
            <p>Here you can find posts related to arts</p>
        </div>
        <div class="content-container">
            <div class="content-block">
                <h2>Exploring the Beauty of Oil Painting</h2>
                <p>Hey, fellow art enthusiasts! I've been diving into the world of oil painting lately. Here's my latest creation, a serene landscape inspired by the countryside. 🎨 What do you think?.</p>
            </div>
            <div class="content-block">
                <h2>Discovering Street Art in Barcelona</h2>
                <p>Street art has always fascinated me. During my recent trip to Barcelona, I stumbled upon some amazing street art. Here's a photo diary of my findings. 🏙️</p>
            </div>
            <div class="content-block">
                <h2>Sculpting Dreams: My Journey with Clay</h2>
                <p>I've recently taken up sculpting with clay. It's been a therapeutic and creative journey. Here's one of my latest clay sculptures, inspired by nature.</p>
            </div>
        </div>
    </div>
</body>
</html>
