<!DOCTYPE html>
<html>
  <head>
    <title>{{ community['name'] }} Community</title>
    <link rel="stylesheet" type="text/css" href="/static/profilepage.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="{{ url_for('community.topPosts') }}">Top Posts</a>
      <a href="{{ url_for('community.eventExplorer') }}">Event Explorer</a>
      <a href="{{ url_for('post.createPost') }}">Create Post</a>
      <div class="dropdown">
        <a href="#">All Communities</a>
        <div class="dropdown-content">
          {% for communities in communityList %}
          <a href="{{ url_for('community.community',id=communities['id']) }}">{{ communities['name'] }}</a>
          {% endfor %}
        </div>
      </div>
      <a href="{{ url_for('user.profile') }}">User Profile</a>
      <a href="{{ url_for('community.createEvent') }}">Create Event</a>
      <a href="{{ url_for('post.usersPosts') }}">Users Posts</a>
      <a href="{{ url_for('community.usersEvents') }}">Users Events</a>
      <a href="{{ url_for('user.logout') }}">Logout</a>

    </div>

    <!-- Profile page content -->
    <div class="profile">
      <div >
        <h1>Welcome to the {{ community['name'] }} Community</h1>
        <p>{{ community['description'] }}</p>
      </div>

      <div class="profile-icon">
        <img
          src={{community['avatar']}}
          alt="Profile Icon"
          width="900"
          height="300"
        />
      </div>
      <div class="content-container">
        {% for post in posts %}
          <div class="content-block">
            <h2><a href="{{ url_for('post.show_post',id=post['id']) }}">{{ post['title'] }}</a></h2>
            <div class="attractive-content">
              <p>{{ post['content'] }}</p>
              {% if post['imgURL'] %}
                <img
                  src={{ url_for('uploaded_file', filename=post['imgURL']) }}
                  width="400"
                  height="300"
                />
              {% endif %} 
              <!-- Display Like and Comment information -->
              <p>Likes: {{ post['likeNum'] }}</p>
            <!-- Like and Comment buttons with AJAX functionality -->
            <div class="comments">

            <form action="{{ url_for('community.toggle_like',id=post['id']) }}" method="post">
              <input type="hidden" name="action" value="like">
              {% if post['ifLiked'] %}
                  <button type="submit" class="unlike-button">UnLike</button>
              {% else %}
                  <button type="submit" class="like-button">Like</button>
              {% endif %}
            </form>

              <h3>Comments:</h3>
              {% for comment in post['comments'] %}
              <div class="comment-header">
                <span class="comment-author">{{ comment['author'] }}</span> - <span class="comment-date">{{ comment['createTime'] }}</span>
              </div>
              <p class="comment-body">{{ comment['content'] }} </p>
              {% endfor %}
              <!-- Comment input form -->
              <form action="{{ url_for('community.addComment', id = id, post_id=post['id']) }}" method="post">
                <input type="text" name="content" placeholder="Add a comment" required>
                <button type="submit">Add Comment</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
