<!DOCTYPE html>
<html>
  <head>
    <title>{{ community['name'] }} Community</title>
    <link rel="stylesheet" type="text/css" href="/static/profilepage.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="{{ url_for('community.topPosts') }}">Top Posts</a>
      <a href="{{ url_for('community.eventExplorer') }}">Event Explorer</a>
      <a href="{{ url_for('post.createPost') }}">Create Post</a>
      <div class="dropdown">
        <a href="#">All Communities</a>
        <div class="dropdown-content">
          {% for communities in communityList %}
          <a href="{{ url_for('community.community',id=communities['id']) }}">{{ communities['name'] }}</a>
          {% endfor %}
        </div>
      </div>
      <a href="{{ url_for('user.profile') }}">User Profile</a>
      <a href="{{ url_for('community.createEvent') }}">Create Event</a>
      <a href="{{ url_for('post.usersPosts') }}">Users Posts</a>
      <a href="{{ url_for('community.usersEvents') }}">Users Events</a>
      <a href="{{ url_for('user.logout') }}">Logout</a>

    </div>

    <!-- Profile page content -->
    <div class="profile">
      <div >
        <h1>Welcome to the {{ community['name'] }} Community</h1>
        <p>{{ community['description'] }}</p>
      </div>

      <a href="{{ url_for('user.logout') }}">Exit</a>
      <br />

      <div class="profile-icon">
        <img
          src={{community['avatar']}}
          alt="Profile Icon"
          width="900"
          height="300"
        />
      </div>
      <div class="content-container">
        {% for post in posts %}
          <div class="content-block">
            <h2>{{ post['title'] }}</h2>
            <p>{{ post['content'] }}</p>
            {% if post['imgURL'] %}
              <img
                src={{ url_for('uploaded_file', filename=post['imgURL']) }}
                width="400"
                height="300"
              />
            {% endif %} 
            <!-- Display Like and Comment information -->
            <p>Likes: {{ post['likeNum'] }}</p>

            <!-- Like and Comment buttons with AJAX functionality -->
            <button onclick="likePost( post['id'] )">
              <i class="fas fa-heart"></i> Like
            </button>
            <button onclick="showComments(post['id'] )">Show Comments</button>


            <!-- Comment input form -->
            <form id="commentForm{{ post['id'] }}" style="display: none;">
              <input type="text" name="content" placeholder="Enter your comment">
              <button onclick="addComment(post['id'])">Add Comment</button>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
      function likePost(postId) {
        fetch(`/like/${postId}`)
          .then(response => response.json())
          .then(data => {
            alert(data.message);
          })
          .catch(error => console.error('Error:', error));
      }

      function showComments(postId) {
        const commentForm = document.getElementById(`commentForm${postId}`);
        commentForm.style.display = commentForm.style.display === 'none' ? 'block' : 'none';
      }

      function addComment(postId) {
        const content = document.querySelector(`#commentForm${postId} input[name="content"]`).value;
        fetch(`/createComment/${postId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: `content=${content}`,
        })
          .then(response => response.json())
          .then(data => {
            alert(data.message);
          })
          .catch(error => console.error('Error:', error));
      }

              
    </script>
  </body>
</html>
