<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/style.css">
    <title>Virtual Community</title>
</head>
<body>
    <header>
        <h1>Post List</h1>
          <a href="/post/create/{{ communityId }}">   <button>Create Post</button></a>
      </header>

      <div>
        <h1>Welcome to Virtual Community</h1>
        {{username}}     
        <a href="{{ url_for('user.logout') }}">Exit</a>
        <br/>
    </div>
</body>
</html>