<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <div>
    <h1>Login</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Your username" />
        <br/>
        <input type="password" name="password" placeholder="Your password" />
        <br/>
        {% if message %} {{message}} {% endif %}
        <br/>
        <input type="submit" value="submit" />
        <input type="reset" value="reset" />
        <a href="{{ url_for('signup') }}">signup</a>
    </form>
    </div>
</body>
</html>
