<!DOCTYPE html>
<html>
<head>
  <title>Community Engagement Website</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1>Post List</h1>
      <a href="/post/create/{{ communityId }}">   <button>Create Post</button></a>
  </header>
  {{username}}
  <a href="{{ url_for('user.user_login') }}">logout</a>

  <section class="posts">
    <h2>All Posts</h2>
    {% for i in lst %}
    <div class="post">
        <a href="" style="text-decoration: none"><h3>{{i.1}}</h3></a>
      <a href=""  style="text-decoration: none">  <p>{{i.2}}</p></a>

        <a href="#">  <button>like:{{ i.3 }}</button></a>
        <a href="#">  <button>follow:0</button></a>
    </div>
    {% endfor %}

  </section>

  <footer>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms of service</a></li>
    </ul>
  </footer>


</body>
</html>
