<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/profilepage.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <a href="{{ url_for('community.topPosts') }}">Top Posts</a>
      <a href="{{ url_for('community.eventExplorer') }}">Event Explorer</a>
      <a href="{{ url_for('post.createPost') }}">Create Post</a>
      <div class="dropdown">
        <a href="#">All Communities</a>
        <div class="dropdown-content">
          {% for communities in communityList %}
          <a href="{{ url_for('community.community',id=communities['id']) }}">{{ communities['name'] }}</a>
          {% endfor %}
        </div>
      </div>
      <a href="{{ url_for('user.profile') }}">User Profile</a>
      <a href="{{ url_for('community.createEvent') }}">Create Event</a>
      <a href="{{ url_for('post.usersPosts') }}">Users Posts</a>
      <a href="{{ url_for('community.usersEvents') }}">Users Events</a>
      <a href="{{ url_for('user.logout') }}">Logout</a>

    </div>

    <!-- Profile page content -->
    <div class="profile">
      <h1>Welcome to your Virtual Community {{username}}</h1>
      <br />
      <div class="posts-container">
        {% for singlePost in posts %}
        <a href="{{ url_for('post.show_post', id=singlePost['id']) }}">
          <div class="posts-block">
            <h2>{{ singlePost['title'] }}</h2>
            <p>{{ singlePost['content'] }}</p>

            {% if singlePost['imgURL'] %}
              <img src="{{ singlePost['imgURL'] }}" alt="Post Image" width="400" height="300"/>
            {% endif %}

            <p>Likes: {{ singlePost['likeNum'] }}</p>

          </div>
        </a>
        <br />
        {% endfor %}
      </div>
    </div>
  </body>
</html>
